@charset "utf-8";


@media screen and (max-width : 430px){
    

    .header{height: 80px;}
    .log{display: none;}
    .menu{display: none;}
    .hamburger{display: block;}
    .fix{display: none;}
    .banner_sc{display: none;}
    .main_list1 {
        flex-direction: column; /* 수직 배치 */
        align-items: center; /* 가운데 정렬 */
        
    }

    .main_list_sub {
        max-width: 100%; /* 항목이 전체 너비를 차지하도록 설정 */
        margin: 50px 0;
    }
    
    .popular{font-size: 30px; text-align: center;}

    .pop{display: none;}
}